.green1 {
    background-color: #3ab54b;
}

.green2 {
    background-color: #4aa408;
}

.green3 {
    background-color: #23710b;
}

.green4 {
    background-color: #8fb109;
}

.green5 {
    background-color: #136577;
}

.green6 {
    background-color: #0b7389;
}

.green7 {
    background-color: #0b7989;
}

.green8 {
    background-color: #0b8979;
}

.green9 {
    background-color: #0b8955;
}

.footer {
    background-color: #95a9a2;
}

body {
    font-family: "Courier New", Courier, monospace;
}

a {
	color:#FC0;
	text-decoration:underline;
	}

.linkclaro{
	color:#399;
	text-decoration:underline;
	
	}