.green1 {
    background-color: #3ab54b;
}

.green2 {
    background-color: #6fa408;
}

a {
	color:#FC0;
	text-decoration:underline;
	}

.linkclaro{
	color:#399;
	text-decoration:underline;
	
	}

.green3 {
    background-color: #adc40f;
}

.green4 {
    background-color: #c9db8b;
}

.green5 {
    background-color: #c6e10b;
}

.green6 {
    background-color: #58daab;
}

.green7 {
    background-color: #09c4c6;
}

.green8 {
    background-color: #06adaf;
}

.green9 {
    background-color: #3ebb7f;
}

.footer {
    background-color: #95a9a2;
}

body {
    font-family: "Courier New", Courier, monospace;
}