.green1 {
    background-color: #3ab54b;
}

.green2 {
    background-color: #6fa408;
}

.green3 {
    background-color: #c9c320;
}

.green4 {
    background-color: #adc40f;
}

.green5 {
    background-color: #0a9c63;
}

body {
    font-family: "Courier New", Courier, monospace;
}