
body {
    color: #FFF;
    text-align: left;
}

a {
    color: #FFF;
    text-decoration: underline;
    text-decoration-style: dotted;
    -moz-text-decoration-style: dotted;
    text-decoration-color: rgba(255, 255, 255, 0.8);
    -moz-text-decoration-color: rgba(255, 255, 255, 0.8);
}

a:hover {
    color: #FFF;
    text-decoration-style: dotted;
    -moz-text-decoration-style: dotted;
    text-decoration-color: rgba(255, 255, 255, 1);
    -moz-text-decoration-color: rgba(255, 255, 255, 1);
}

q {
    quotes: "«" "»";
    font-style: italic;
}

/* header */
header {
    height: 157px;
}

#top-banner {
    background-image: url("../img/bg_hacklab.png");
    background-color: #339966;
    height: 157px;
}

#logo {
    background-image: url("../img/logo_hacklab.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    top: 15px;
    width: 894px;
    height: 127px;
}

/* top menu */
#top-menu.affix {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    margin-bottom: 100px;
}

#top-menu > div {
    margin: 0px;
    border: 0px none;
    border-radius: 0px;
}

div.navbar > div.container {
    width: 100%;
    padding: 0px;
}

.navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
}

.navbar-default .navbar-toggle { border-color: #2E8D3B; }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: #2E8D3B; }

.navbar-default .navbar-nav > li > a {
    padding: 15px 8px;
    color: #FFF;
    opacity: 0.7;
    text-decoration: none;
    text-align: center;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    opacity: 1;
}

.navbar-default .navbar-nav > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 10px;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0.2s;
    -moz-transition: all 0.2s ease-in-out 0.2s;
    -ms-transition: all 0.2s ease-in-out 0.2s;
    transition: all 0.2s ease-in-out 0.2s;
}

.navbar-default .navbar-nav > li > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    opacity: 1;
    background-color: transparent;
}

/* sections */

.jumbotron {
    margin: 0px;
    padding: 60px;
    background: none repeat scroll 0% 0% transparent;
    border-radius: 0px !important;
}

.jumbotron h1 {
    display: inline-block;
    margin: 20px 0px;
    height: 70px;
    padding-left: 90px;
    font-size: 35px;
    line-height: 30px;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.jumbotron h2 { font-size: 23px; }
.jumbotron h4 { font-size: 23px; }
.jumbotron p { font-size: 16px; }

#que-somos h1 { background-image: url("../img/noun_conector.png"); }

#que-hacemos h1 { background-image: url("../img/noun_hackaton.png"); }

#quienes h1 { background-image: url("../img/noun_openaccess.png"); }

#quienes > .container > .jumbotron > div { text-align: center; }

#quienes > .container > .jumbotron > div > div.logo {
    float: left;
    height: 100px;
    width: 33%;
}

#quienes > .container > .jumbotron > div > a { text-decoration: none; }

#quienes > .container > .jumbotron > div > a > img.logo {
    height: 60px;
    width: 177px;
}

#donde h1 { background-image: url("../img/noun_publicdomain.png"); }

#donde > .container > .jumbotron > div { text-align: center; }

#donde > .container > .jumbotron > div > a {
    text-decoration: none;
    margin: 10px 0px;
}

#donde > .container > .jumbotron > div > a > img.icon {
    height: 101px;
    width: 101px;
    opacity: 0.7;
}

#wiki h1 { background-image: url("../img/noun_connexioncube.png"); }

#manifiesto h1 { background-image: url("../img/noun_maker.png"); }

#barriohacker h1 { background-image: url("../img/noun_sustainableenergy.png"); }

#barriohacker > .container > .jumbotron > div.videoplayer {
    height: 420px;
    width: 640px;
    margin: 0px auto;
}


#trayectorias h1 { background-image: url("../img/noun_sustainableenergy.png"); text-align:center; }

#trayectorias > .container > .jumbotron > div.videoplayer {
    height: 420px;
    width: 640px;
    margin: 0px auto;
}


#hablemos h1 { background-image: url("../img/noun_shareidea.png"); }
<<<<<<< HEAD

/* footer */
#footer > .container > .jumbotron {
    padding: 30px 60px;
}

#footer > .container > .jumbotron > p {
    margin-bottom: 5px;
    font-size: 10px;
}

#imglogo {
	width: 510px;
    font-size: 10px;
	float:left;

}

.imglogo img{
	margin-right:15px;
}
=======
>>>>>>> FETCH_HEAD
