body {
    color: #FFF;
}

header {
    height: 103px;
}

#top-menu.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
    margin-bottom: 100px;
}

.navbar {
    margin-bottom: 0px;
}

#top-banner {
    background-image: url("../img/header_web_hacklab.jpg");
    height: 103px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@media only screen
and (min-device-width : 768px) {
    header {
        height: 242px;
    }
    #top-banner {
        height: 242px;
    }
}

#top-menu > .navbar-default .navbar-nav > li > a {
    color: #FFF;
}

#top-menu > .navbar-default .navbar-nav > .active > a  {
    color#FFF;
    background-color: #3ab54b;
}

section#que-somos, section#que-hacemos, section#quienes, section#donde {
    display:block;
}

section#que-somos > .container > .jumbotron > h1 {
    background-image: url("../img/conector.png");
    height:61px;
    display:block;
    background-repeat: no-repeat;
    padding-left:80px;
}

section#que-hacemos > .container > .jumbotron > h1 {
    background-image: url("../img/hackaton.png");
    height:61px;
    display:block;
    background-repeat: no-repeat;
    padding-left:80px;
}

.jumbotron {
    background: transparent;
}

.jumbotron h1 {
    font-size: 43px;
}

.jumbotron h2 {
    font-size:23px;
}

.jumbotron p {
    font-size: 16px;
}

section {
  padding-bottom: 10px;
}

