body {
    color: #FFF;
	text-align:left;
}


header {
    height: 157px;
}
#top-menu.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
    margin-bottom: 100px;
}

.navbar-default {
    border: 0;
}

.navbar {
    text-align: center;
    padding-top: 16px;
}

.nav > li {
    display: inline;
    margin: 0px 17px;
}

.nav > li > a {
    padding: 0px;
}

.navbar-item {
    opacity: 0.6;
    position: relative;
    -webkit-transition: opacity 0.2s ease-in-out 0s;
    transition: opacity 0.2s ease-in-out 0s;
}

.navbar-item:before {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 1px;
    z-index: 10;
    background-color: #FFF;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.navbar-item:hover {
    opacity: 1;
}

.navbar-item:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#top-banner {
    background-image: url("../img/bg_hacklab.png");
    background-color:#339966;
    height: 157px;
    padding-top:2%;
}

#logo {
    background-image: url("../img/logo_hacklab.png");
    width: 894px;
    height: 127px;
    float: none;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@media only screen
and (min-device-width : 768px) {
    header {
        height: 180px;
    }
    #top-banner {
        height: 180px;
    }

	section#donde > .jumbotron {
        padding-top:0px;
		
    }
}

#top-menu > .navbar-default .navbar-nav > li > a {
    color: #FFF;
}

#top-menu > .navbar-default .navbar-nav > .active > a  {
    color: #FFF;
    background-color: #3ab54b;
}

section#que-somos, section#que-hacemos, section#quienes, section#donde {
    display:block;
}

section#que-somos > .container > .jumbotron > h1 {
    background-image: url("../img/conector.png");
    height:61px;
    display:block;
    background-repeat: no-repeat;
    padding-left:80px;
	margin-bottom:40px;
}

section#que-hacemos > .container > .jumbotron > h1 {
    background-image: url("../img/hackaton.png");
    height:61px;
    display:block;
    background-repeat: no-repeat;
    padding-left:80px;
	margin-bottom:40px;
}

section#quienes > .container > .jumbotron > h1 {
    background-image: url("../img/openaccess.png");
    height:68px;
    display:block;
    background-repeat: no-repeat;
    padding-left:80px;
	margin-bottom:60px;
}

section#donde > .container > .jumbotron > h1 {
    background-image: url("../img/publicdomain.png");
    height:68px;
    display:block;
    background-repeat: no-repeat;
    padding-left:80px;
	margin-bottom:40px;

}


section#wiki > .container > .jumbotron > h1 {
    background-image: url("../img/connexioncube.png");
    height:68px;
    display:block;
    background-repeat: no-repeat;
    padding-left:80px;
	margin-bottom:40px;
}

section#manifiesto > .container > .jumbotron > h1 {
    background-image: url("../img/maker.png");
    height:68px;
    display:block;
    background-repeat: no-repeat;
    padding-left:80px;
	margin-bottom:40px;
}

section#barriohacker > .container > .jumbotron > h1 {
    background-image: url("../img/sustainableenergy.png");
    height:61px;
    display:block;
    background-repeat: no-repeat;
    padding-left:95px;
	margin-bottom:40px;
}

section#hablemos > .container > .jumbotron > h1 {
    background-image: url("../img/shareidea.png");
    height:81px;
    display:block;
    background-repeat: no-repeat;
    padding-left:95px;
	margin-bottom:40px;
}


section#quienes {
    padding-bottom: 100px;
}



.jumbotron {
    background: transparent;

}

.jumbotron h1 {
    font-size: 43px;
}

.jumbotron h2 {
    font-size:23px;
}

.jumbotron p {
    font-size: 16px;
}


.jumbotron h4 {
    font-size: 12px;
}

section {
    padding-top: 25px;
    margin-top: -25px;
}

